<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>베리 - 댓글 분석 프로젝트</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
          type="text/css"/>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/style02_shopping.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/SRC2/jbar/jqbar.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css"/>


    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script>

        $(document).ready(function () {
            get_statics();
        });

        function draw_area(label, time_val) {
            c3.generate({
                bindto: "#areachart",
                data: {
                    columns: [
                        time_val
                    ],
                    type: 'area-spline'

                },
                legend: {
                    position: 'right'
                },
                axis: {
                    x: {
                        show: false
                    }
                },
                tooltop: {
                    show: false
                },
                color: {
                    pattern: ['#D9705F']
                }
            });
        }


        function get_statics() {

            let des = {}

            $.ajax({
                type: "GET",
                url: "/api/shoppingdata",
                data: {},
                success: function (response) { // 성공하면
                    des = response
                    let review_num = des['num_review']
                    let rate = des['rate']
                    let topics = des['topics']
                    let topic_score = des['topic_score']
                    let time = response['time']
                    let modeling = response['modeling']
                    let num_topic = topics.length
                    let repurchase = response['repurchase']
                    let tmp_rate = (rate / 5) * 100

                    //총 리뷰 개수
                    $('#all_users_score').text(review_num + " 개")

                    //재구매율
                    $('#sales').text(repurchase + "개")

                    // 사용자 총평점
                    let tmp_html = `<div class="wrap-star">
                            <div class='star-rating'>
                                <span style="width:${tmp_rate}%" id="star_rate"></span>
                            </div>
                        </div>
                        <a class="gamja_flower">${rate}/5.0</a>`
                    $('#user_star').append(tmp_html)

                    // 제품 옵션별 구매순위
                    let rank_key = response['rank_key']
                    let rank_value = response['rank_value']

                    for (let i=0 ;i < rank_key.length;i++){
                        let card_html =`<div class="card">
                            <div class="container3">
                                <h5><b>${i+1}</b></h5>
                                <hr>
                                <p class="sunflower">
                                    ${rank_key[i]} [${rank_value[i]} 개]
                                </p>
                            </div>
                        </div>`
                        if ((i + 1) % 2 != 0) {
                            $('#best1').append(card_html)
                        } else {
                            $('#best2').append(card_html)
                        }
                    }


                    // 각 제품/옵션 평점
                    let option_key = response['option_key']
                    let option_value = response['option_value']
                    leng = option_key.length


                    for (let i = 0; i < option_key.length; i++) {
                        let key = option_key[i]
                        let value = option_value[i]

                        let temp_html = ``
                        let star_html0 = `<div class="card">
                            <div class="container3">
                                <h5><b>${key}</b></h5>
                                <hr>
                                <p>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>`
                        let star_html1 = `<div class="card">
                            <div class="container3">
                                <h5><b>${key}</b></h5>
                                <hr>
                                <p>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>`
                        let star_html2 = `<div class="card">
                            <div class="container3">
                                <h5><b>${key}</b></h5>
                                <hr>
                                <p>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>`
                        let star_html3 = `<div class="card">
                            <div class="container3">
                                <h5><b>${key}</b></h5>
                                <hr>
                                <p>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>`
                        let star_html4 = `<div class="card">
                            <div class="container3">
                                <h5><b>${key}</b></h5>
                                <hr>
                                <p>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>`
                        let star_html5 = `<div class="card">
                            <div class="container3">
                                <h5><b>${key}</b></h5>
                                <hr>
                                <p>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                <span class="fa fa-star option-checked"></span>
                                </p>
                            </div>
                        </div>`
                        if (value == 0.0) {
                            temp_html = star_html0
                        } else if (value == 1.0) {
                            temp_html = star_html1
                        } else if (value == 2.0) {
                            temp_html = star_html2
                        } else if (value == 3.0) {
                            temp_html = star_html3
                        } else if (value == 4.0) {
                            temp_html = star_html4
                        } else {
                            temp_html = star_html5
                        }

                        if ((i + 1) % 2 != 0) {
                            $('#option_left').append(temp_html)
                        } else {
                            $('#option_right').append(temp_html)
                        }
                    }

                }
            });
        }

        function desWord() {
            location.href = '/shopping_word'
        }
        function desTopic() {
            location.href = '/shopping_Topic'
        }
        function desItem() {
            location.href = '/shopping_Item'
        }

        function showAll(){
            location.href='/shopping_result'
        }
        function returnMain() {
            location.href = '/'
        }

    </script>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand title" onClick="returnMain()">&nbsp; 베리 &nbsp;<span class="subtitle">-&nbsp;쇼핑 리뷰</span></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>

    <!-- Help tip -->
    <div class="help-tip" style="z-index:1;">
        <p><br><br>쇼핑 리뷰 분석 시 제공하는 것들<br>
            <br><br> -URL의 댓글창에 대한 총 리뷰 개수
            <br> -모든 평점의 평균
            <br> -네이버 인증 기준 상품의 총 재구매 횟수
            <br> -각 토픽별 평점의 평균 / 토픽별 구매자의 주요 반ㅇㅇ
            <br> -각 제품, 옵션별 평점 평균 / 구매량 기준 구매 순위
            <br> -일자 기준 댓글 작성시간 분포 그래프
            <br> -구매자 주요 반응에 대한 워드 클라우드
        <p>
    </div>


</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Main</div>
                    <a class="nav-link" onClick="showAll()" class="dohyeon_subtitle">

                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        All result
                    </a>
                    <div class="sb-sidenav-menu-heading">Statistics</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Statistic
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" onClick="desTopic()">토픽 별 분석</a>
                            <a class="nav-link" onClick="desItem()">제품 별 분석</a>
                            <a class="nav-link" onClick="desWord()">댓글 작성 시간 분포 & 워드 클라우드</a>

                        </nav>
                    </div>


                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Generated by :</div>
                HF-267 [베댓]
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content" style="background-color: #FFFDF9;">
        <main class="main users chart-page" style="background-color: #FFFDF9;" id="skip-target">
            <div class="container_2">
                <h2 class="main-title dohyeon_title">댓글 분석 결과 &nbsp; &nbsp;<span style="font-size:0.7em;"
                                                                                 id="title"></span>
                </h2>

                <div class="stat-cards" style="background-color: #FFFDF9;">

                    <!--        사용자 총평점 및 전체 리뷰수 -->

                    <div class="col-xl-12 col-md-6" style="height:385.2px;">
                        <article class="stat-cards-item">
                            <div class="container_2" style="overflow:scroll; overflow-x: hidden;">
                                <h4 style="margin-bottom:10px;" class="dohyeon_subtitle">각 제품/옵션 구매 순위 </h4>
                                <div class="option_row" id="per_rank" style="height:300px;">

                                    <div class="option_left" id="best1">

                                    </div>

                                    <div class="option_right" id="best2">

                                    </div>


                                </div>

                            </div>
                        </article>
                    </div>


                </div>

                <div class="stat-cards" style="background-color: #FFFDF9;">

                    <!--        사용자 총평점 및 전체 리뷰수 -->

                    <div class="col-xl-12 col-md-6" style="height:385.2px;">
                        <article class="stat-cards-item">
                            <div class="container_2" style="overflow:scroll; overflow-x: hidden;">
                                <h4 style="margin-bottom:10px;" class="dohyeon_subtitle">각 제품/옵션별 평점 </h4>
                                <div class="option_row" id="per_score" style="height:300px;">

                                    <div class="option_left" id="option_left">

                                    </div>

                                    <div class="option_right" id="option_right">

                                    </div>


                                </div>

                            </div>
                        </article>
                    </div>


                </div>





            </div>


        </main>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../static/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>
</html>
